@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

:root{
    --primary-colour: #f2726a;
}

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    background-image: linear-gradient(45deg,#00853e,#50c878);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
.card
{
    height:400px ;
    width: 300px;
    border-radius: 10px;
    background: #242628;
    /* margin:120px auto; */
    text-align: center;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.card__img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-colour);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}
.card h2
{
    margin-top: 35px;
}
.card p{
    color: var(--primary-colour);
}
.card__social{
    margin: 25px 0;
}
.card__social a{
    color: white;
    margin: 25px 20px ;
    font-size: 20px;
}
.card button
{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid var(--primary-colour);
    background: transparent;
    transition: 0.5s;
}

.card button:hover
{
    background: #f2726a;
}
.card__img:hover
{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}
